---
import LandingLayout from '@/layouts/LandingLayout.astro';
import { Hero } from '@/components/hero';
import Badge from '@/components/ui/data-display/Badge/Badge.astro';
import TechStack from '@/components/landing/TechStack.astro';
---

<LandingLayout
  title="capaul.com"
  description="capaul.com website"
>
  <Hero layout="centered" size="lg" showGrid showBlob blobPosition="right">
    <Badge slot="badge" pill pulse>capaul.com is finally live</Badge>

    <h1 slot="title">
      welcome to <span class="text-brand-500">capaul.com</span>
    </h1>

    <p slot="description">
      Family website for personal use (and your eyes) only.
    </p>

  </Hero>

  <TechStack />
</LandingLayout>
